@font-face {
  font-family: "RedHatText";
  src: url("../fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

:root {
  --red: #c73b0f;
  --rose-900: #260f08;
  --rose-500: #87635a;
  --rose-400: #ad8a85;
  --rose-300: #caafa7;
  --rose-100: #f5eeec;
  --rose-50: #fcf8f6;
  --green: #1ea575;
  --redHatText: "RedHatText", sans-serif;
}

h3 {
  font-size: 14px;
  font-weight: 600;
  color: var(--rose-900);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  row-gap: 24px;
  column-gap: 32px;
}

li {
  max-height: 347px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.imageDesktop {
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  height: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--rose-50);
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: var(--redHatText);
  /* padding-inline: 112px; */
  padding-block: 88px;
}

form {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 100%;
  height: 100%;
  max-width: 1216px;
}

.firstWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  height: 100%;
  gap: 32px;
}

.firstWrapper ul {
  justify-content: center;
}

.divCart {
  max-width: 160px;
  width: 100%;
  border-radius: 999px;
  height: 44px;
  align-self: center;
  margin-top: -22px;
  background-color: white;
  border: 1px solid var(--rose-400);
  transition: 0.15s ease-in-out;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

img.cartIcon {
  width: 21px;
  height: 20px;
  display: block;
  z-index: 3;
}

.divCart:hover {
  cursor: pointer;
  color: var(--red);
  border-color: var(--red);
}

.divCartWithValue {
  max-width: 160px;
  width: 100%;
  border-radius: 999px;
  height: 44px;
  align-self: center;
  margin-top: -22px;
  background-color: var(--red);
  border: 1px solid var(--red);
  transition: 0.15s ease-in-out;
  font-size: 14px;
  font-weight: 600;
  display: none;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
  gap: 8px;
  box-sizing: border-box;
}

button.cartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  appearance: none;
  border: none;
  background-color: transparent;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 2px solid white;
  width: 20px;
  height: 20px;
  transition: 0.15s ease-in-out;
}

button.cartButton:hover {
  cursor: pointer;
  background-color: white;
}

button.cartButton svg {
  fill: white;
  transition: 0.15s ease-in-out;
}

button.cartButton:hover svg {
  fill: var(--red);
}

.counter {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.dessertsGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 32px;
  column-gap: 24px;
}

.dessertElement {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section {
  flex-direction: column;
  gap: 4px;
}

li div {
  display: flex;
  flex-direction: column;
}

h1 {
  color: var(--rose-900);
  font-size: 40px;
  letter-spacing: 0.12px;
  margin: 0px;
}

p {
  color: var(--rose-500);
  font-size: 14px;
  line-height: 150%;
  margin: 0px;
}

.price {
  color: var(--red);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.12px;
  margin: 0px;
}

h2 {
  color: var(--rose-900);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.12px;
  margin: 0px;
}

h3 {
  margin: 0px;
}

.secondWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 384px;
  height: min-content;
  min-height: 299px;
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  box-sizing: border-box;
  gap: 24px;
}

.secondWrapper ul {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.cartElement {
  display: none;
}

.cartElement div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cartElement div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

hr {
  border: 1px solid var(--rose-100);
  margin: 0px;
  margin-top: 16px;
}

#deleteButton {
  border: 1.5px solid var(--rose-400);
  border-radius: 100%;
  background-color: transparent;
  transition: 0.15s ease-in-out;
  width: 17.5px;
  height: 17.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
}

#deleteButton:hover {
  cursor: pointer;
  border-color: var(--rose-900);
}

#deleteButton svg {
  transition: 0.15s ease-in-out;
  fill: var(--rose-400);
}

#deleteButton:hover svg {
  fill: var(--rose-900);
}

#cartItemsCount {
  color: var(--red);
  font-size: 24px;
  font-weight: 700;
}

#cartItemsCount::before {
  content: "Your Cart (";
}

#cartItemsCount::after {
  content: ")";
}

.dessertElement:has(.divCartWithValue[style*="display: flex"]) .divCart {
  display: none;
}

/* .dessertElement:has(.counter[value*="0"]) {
  border: 1px solid var(--red);
} */

.cartRow {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.cartRow span:nth-child(1) {
  font-size: 14px;
  font-weight: 600;
  color: var(--red);
}

.cartRow span:nth-child(1)::after {
  content: "x";
}

.cartRow span:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: var(--rose-500);
}

.cartRow span:nth-child(3) {
  font-size: 14px;
  font-weight: 600;
  color: var(--rose-500);
}

.cartRow span:nth-child(3)::before {
  content: "$";
}

body:has(.divCartWithValue[style*="display: flex"]) #divTotal {
  display: flex;
}

#divTotal {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#divTotal span:nth-child(1) {
  font-size: 14px;
  font-weight: 400;
  color: var(--rose-900);
}

#divTotal span:nth-child(2) {
  font-size: 24px;
  font-weight: 700;
  color: var(--rose-900);
}

#divTotal span:nth-child(2)::before {
  content: "$";
}

body:has(.divCartWithValue[style*="display: flex"]) #infoCarbonNeutral {
  display: flex;
}

#infoCarbonNeutral {
  background-color: var(--rose-50);
  height: 52px;
  border-radius: 8px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

#infoCarbonNeutral span {
  color: var(--rose-900);
  font-size: 14px;
}

#infoCarbonNeutral span strong {
  padding-inline: 0.8px;
}

body:has(.divCartWithValue[style*="display: flex"]) #confirmOrder {
  display: flex;
}

#confirmOrder {
  height: 53px;
  width: 100%;
  border-radius: 999px;
  border: none;
  background-color: var(--red);
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: 0.15s ease-in-out;
  display: none;
  justify-content: center;
  align-items: center;
}

#confirmOrder:hover {
  cursor: pointer;
  background-color: #952c0b;
}

body:has(.divCartWithValue[style*="display: flex"]) #cartPlaceholder {
  display: none;
}

#cartPlaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 195px;
  gap: 16px;
}

#cartPlaceholder span {
  color: var(--rose-500);
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 1280px) {
  body {
    padding-inline: 32px;
  }

  form {
    max-width: 688px;
    flex-direction: column;
    align-items: center;
  }

  /* form {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    height: 100%;
    max-width: 1216px;
  } */

  /* .firstWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 100%;
    gap: 32px;
  } */

  .secondWrapper {
    max-width: 688px;
  }

  .imageDesktop {
    width: 100%;
    max-width: 213px;
  }

  .dessertsGrid {
    grid-template-columns: repeat(auto-fit, 213px);
  }
}

@media (max-width: 768px) {
  form {
    max-width: 450px;
  }
}

@media (max-width: 640px) {

  body {
    padding: 24px;
  }

  form {
    max-width: 327px;
  }

  .dessertsGrid {
    grid-template-columns: auto;
  }

  .dessertElement {
    max-width: 327px;
    height: 100%;
  }

  li {
    max-height: 100%;
  }


  .imageDesktop {
    max-width: 327px;
  }
}