<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Product list with cart">
    <link rel="stylesheet" href="{{ '../static/css/chat.css' }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon-32x32.png') }}" sizes="32x32"
        type="image/png">
    <link rel="prefetch" href="../">
    <title>{{ siteTitle }}</title>
</head>

<body>
    <div>
        <div>
            <h1>AI Generator</h1>
            <a rel="prefetch" href="../" class="buttonType1Mod1">Exit</a>
        </div>
        <form id="contactForm" method="POST" onsubmit="return handleSubmit(event)">
            <div readonly id="answerBox">
                Hi! <br>
                <br>
                Write in the chat with a request for the product you would like to see on the list, and it might appear!
                <br> <br>
                <strong>Every message you send will be delivered</strong>.
            </div>
            <div id="inputContainer">
                <textarea placeholder="Type here ..." onkeypress="handleKeyUp(event)" oninput="autoResize()"
                    onkeyup="autoResize()" name="textInput" id="textInput"></textarea>
                <button aria-label="Send message" type="submit" class="buttonType1" id="sendButton"><svg id="iconSend"
                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 32 32"
                        class="icon-2xl">
                        <path fill="currentColor" fill-rule="evenodd"
                            d="M15.192 8.906a1.143 1.143 0 0 1 1.616 0l5.143 5.143a1.143 1.143 0 0 1-1.616 1.616l-3.192-3.192v9.813a1.143 1.143 0 0 1-2.286 0v-9.813l-3.192 3.192a1.143 1.143 0 1 1-1.616-1.616z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
                        class="icon-lg" id="iconStop">
                        <rect width="10" height="10" x="11" y="7" fill="currentColor" rx="1.25"></rect>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</body>

</html>


<script>
    function autoResize() {
        document.getElementById('textInput').style.height = '56px';
        document.getElementById('textInput').style.height = document.getElementById('textInput').scrollHeight + 'px';
    }


    function handleKeyUp(event) {
        if (event.key === 'Enter' && !event.shiftKey) {
            event.preventDefault();
            document.querySelector('form').querySelector('button').click();
        }
    }


    function handleSubmit(event) {
        event.preventDefault();

        const formData = new FormData(event.target);
        const responseMessage = document.getElementById('answerBox');

        fetch('http://192.168.1.108:5000/chat/', {
            method: 'POST',
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.error) {
                    responseMessage.textContent = data.error;
                } else {
                    responseMessage.textContent = data.status;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                responseMessage.textContent = 'An error occurred: ' + error.message;
            });

        document.getElementById('textInput').value = '';
        return false;
    }
</script>