<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Product list with cart">
    <link rel="stylesheet" href="{{ '../../static/css/chat.css' }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/images/favicon-32x32.png') }}" sizes="32x32"
        type="image/png">
    <title>{{ siteTitle }}</title>
</head>

<body>
    <div>
        <div>
            <h1>AI Generator</h1>
            <button onclick="window.location = '../'" type="button" class="buttonType1Mod1">Exit</button>
        </div>
        <form onsubmit="sendData(event)">
            <div readonly name="" id="answerBox">
                Hi! <br>
                <br>
                Chat is currently disabled due to API key requirements and restrictions. It will be available soon. You
                will then be able to generate dessert images and recipes based on your input.
                <br>
                Some of these products will be added later to the list.
            </div>
            <div id="inputContainer">
                <textarea placeholder="Type here ..." onkeypress="handleKeyUp(event)" oninput="autoResize()"
                    onkeyup="autoResize()" name="" id="textInput"></textarea>
                <button aria-label="Send message" type="submit" class="buttonType1" id="sendButton"><svg id="iconSend"
                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 32 32"
                        class="icon-2xl">
                        <path fill="currentColor" fill-rule="evenodd"
                            d="M15.192 8.906a1.143 1.143 0 0 1 1.616 0l5.143 5.143a1.143 1.143 0 0 1-1.616 1.616l-3.192-3.192v9.813a1.143 1.143 0 0 1-2.286 0v-9.813l-3.192 3.192a1.143 1.143 0 1 1-1.616-1.616z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"
                        class="icon-lg" id="iconStop">
                        <rect width="10" height="10" x="11" y="7" fill="currentColor" rx="1.25"></rect>
                    </svg>
                </button>

            </div>
        </form>
    </div>
</body>

</html>

<script>
    function autoResize() {
        document.getElementById('textInput').style.height = '56px';
        document.getElementById('textInput').style.height = document.getElementById('textInput').scrollHeight + 'px';
    }

    function sendData(event) {
        event.preventDefault(); // Prevent the default form submission
        document.getElementById('textInput').setAttribute('disabled', 'disabled');
        document.getElementById('sendButton').setAttribute('disabled', 'disabled');
        document.getElementById('iconSend').style.display = 'none';
        document.getElementById('iconStop').style.display = 'flex';
        const textInput = document.getElementById('textInput');
        const data = { input: textInput.value };

        const url = '/chat/';

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    return response.text().then(text => {
                        throw new Error(text || response.statusText);
                    });
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('answerBox').innerText = data.response;
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('answerBox').innerText = 'Error: ' + error.message;
            }).finally(() => {
                document.getElementById('textInput').removeAttribute('disabled');
                document.getElementById('sendButton').removeAttribute('disabled');
                document.getElementById('iconSend').style.display = 'flex';
                document.getElementById('iconStop').style.display = 'none';
            })
    }

    function handleKeyUp(event) {
        if (event.key === 'Enter' && !event.shiftKey) {
            event.preventDefault(); // Prevent the default behavior of Enter key
            document.querySelector('form').dispatchEvent(new Event('submit', { cancelable: true }));
            document.getElementById('textInput').value = '';
        }
    }

</script>